// VARIABLES

@import 'partials/fonts';


$max-width: 40ems;

$header-font-family: "Josefin Sans",sans-serif;
$branding-font-family: "ltc-broadway",sans-serif;
$base-font-family: "raleway",sans-serif;

$pcolor: #444;
$acolor: #8B0000;
$paper: #fffdf7;
$smallprint: darken($paper, 55%);